<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Train</h1>
  <form action="" method="post" name="train">
      {{ form.hidden_tag() }}
      <p>
          Please enter your test data in csv form:<br>
          {{ form.csv(size=200) }}<br>
          {% for error in form.csv.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Train"></p>
      {{ form.answer(size=200) }}<br>
  </form>
{% endblock %}
